[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.5"

[packages]
pandas = "*"
dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
plotly = "*"
flask-caching = "*"
colorlover = "*"

[dev-packages]
